<h1>Your Tracks</h1>

<% @tracks.each do |track| %>
  <p>Amount: <%= track.amount %></p>
  <p>Categories: <%= track.category_name() %></p>
  <p>Merchant: <%= track.merchant_name() %></p>
  <p><a href="tracks/<%= track.id %>">Edit</a></p>
  <form action="/tracks/<%= track.id %>/delete" method="post">
    <input type="submit" name="Delete" value="Delete">
  </form>
  <hr />
<% end %>
