<div class="summary">

  <div class="warning">
      <% remaining_budget = @budget.amount - Track.total_spent %>
      <% if remaining_budget < 0 %>
        <h3 class="over_budget">You are £<%= remaining_budget.abs %> over budget!</h3>
        <% elsif remaining_budget.between?(1, 50) %>
        <h3 class="near_budget">You only have £<%= remaining_budget %> of your budget left!</h3>
        <% elsif remaining_budget > 0 %>
        <h3 class="under_budget">You have £<%= remaining_budget %> of your budget left</h3>
      <% end %>
  </div>

  <div class="container">

    <div class="budget">
      <div class="budget_top">
        <h2 class="nunito">Your Budget</h2>
        <h1 class = "nunito">£ <%= @budget.amount %></h1>
      </div>
      <div class="budget_bottom">
        <button type="button" class="button" onclick="location.href='/budget/<%=@budget.id %>/edit'">Edit Budget</button>
      </div>
    </div>

    <div class="tracks">
      <div class="tracks_top">
        <h2 class="nunito">Total Spent</h2>
        <h1 class="nunito">£ <%= Track.total_spent %></h1>
      </div>
      <div class="tracks_bottom">
        <button type="button" class="button" onclick="location.href='/tracks/new'">Track a Purchase</button>
      </div>
    </div>
  </div>

    <h1 class="summary_head">Summary</h1>

    <div class="track_container">

        <% @tracks.each do |track| %>
        <div class="track_log">
          <p><%= track.merchant_name() %></p>
          <p><%= track.category_name() %></p>
          <p>£<%= track.amount %></p>
          <p><%= track.time_stamp.strftime("%k:%M - %d/%m/%Y") %></p>
          <div class="track_buttons">
            <div class="edit_button">
                <button type="button" class="button_small" onclick="location.href='/tracks/<%= track.id %>'">Edit</button>
            </div>
            <div class="delete_button">
              <form action="/tracks/<%= track.id %>/delete" method="post">
                <input type="submit" name="Delete" value="Delete" class="delete">
              </form>
            </div>
          </div>
        </div>
        <% end %>
    </div>

</div>
