<h1>Your Tracks</h1>
<h2>Your Budget</h2>
<h2>£ <%= @budget.amount %></h2>
<p><a href="/budget/<%= @budget.id %>/edit">Edit Budget</a></p>

<h3>Total Spend: £ <%= Track.total_spent %></h3>

<% remaining_budget = @budget.amount - Track.total_spent %>

<% if remaining_budget < 0 %>
  <p>You are £<%= remaining_budget.abs %> over budget!</p>
  <% elsif remaining_budget.between?(1, 50) %>
  <p>You only have £<%= remaining_budget %> of your budget left!</p>
  <% elsif remaining_budget > 0 %>
  <p>You have £<%= remaining_budget %> of your budget left</p>
<% end %>


<h2><a href="tracks/new">Create New</a></h2>
<hr />

<% @tracks.each do |track| %>
  <p>Amount: <%= track.amount %></p>
  <p>Categories: <%= track.category_name() %></p>
  <p>Merchant: <%= track.merchant_name() %></p>
  <p>Time: <%= track.time_stamp %></p>
  <p><a href="tracks/<%= track.id %>">Edit</a></p>
  <form action="/tracks/<%= track.id %>/delete" method="post">
    <input type="submit" name="Delete" value="Delete">
  </form>
  <hr />
<% end %>
